{% load static %}
{% block body%}
{% include 'user_navigation.html'%}
<script>
    function checkpass()
    {
    if(document.checkpassword.newpassword.value!=document.checkpassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match ');
    document.checkpassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>
<marquee style =" font-family: 'Monotype Corsiva ';font-size : 25px ; color : darkcyan ; font-weight : bold ;  background-color : black ">
 Change Password
</marquee>
<hr>
<form class ="container mt-5" method ="post"name ="changepassword" onsubmit =" return checkpass()">
    {% csrf_token %}
    <label>
       <b> Current password </b>
    </label>
    <input type ="password" class ="form-control" name="currentpassword" required="true">

    <label>
       <b>New Password </b>
    </label>
    <input type ="password" class ="form-control" name="newpassword" required="true">

    <label>
       <b> Confirm New Password </b>
    </label>
    <input type ="password" class ="form-control" name="confirmpassword" required="true">

    <input type="submit" class ="btn btn-primary" style="margin-top:2% ; font-size:17px">

</form>
{% if error == "no" %}
<script>
    alert(" Password changed successfully");
    window.location.href = "{% url 'Logout' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, Try Again..");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your current password is wrong");
</script>
{% endif %}


{% endblock %}